<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <textarea id="chat-text" cols="80" rows="30"></textarea><br>
      <input id='input' type="text" size="80"><br>
      <input id="submit" type="button" value="Send"
      <div id="user-hello"></div>

    {{ room_name|json_script:"room_name" }}
    <script>
        document.querySelector('#submit').onclick = function (e) {
          const messageInputDom = document.querySelector('#input');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
            'message': message,
          }));
          messageInputDom = '';
        };

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatsocket = new WebSocket(
            'ws://'+
            window.location.host + //127.0.0.1:8000
            '/ws/chat/' +
            roomname +
            '/'
        );
        //receive the message
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#user-hello').innerHTML = (data.tester)
            document.querySelector('#chat-text').value += (data.message + '\n')
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>